/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Special Elite',
    cursive;
  background: #fffdf5;
  color: #3f3f5a;
}
